<div class="container">
  <div class="container3">
      <form >
      <select onchange="handlefilter(event)" name="filter"  class="custom-select custom-select-lg mb-3">
      <option  value="" selected>Order list</option>
      <option  value="beds">Bed</option>
      <option  value="tables">Table</option>
      <option  value="chairs">Chair</option>
      </select>

     <button  submit="" >Clear</button>
      </form >
       
      </div>
      <div class="container4">
        <h1>{{filter}}</h1>
      </div>

   

      <form method="POST">
<table class="table table-hover">
    <thead>
      <tr>
        <th>Name</td>
        <th>Last Name</td>
        <th>Address</th>
        <th>City</th>
        <th>Phone number</th>
        <th>e.mail</th>
        <th>Product</th>
        <th>Ordered on:</th>
        {{!-- <th>status</th> --}}
        <th></th>
        
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
      
        <tr class="{{status}}">
          <td>{{name}}</td>
          <td>{{lastName}}</td>
          <td>{{address}}</td>
          <td>{{city}}</td>
          <td>{{phone}}</td>
          <td>{{email}}</td>
          <td>{{checked}}</td>
          <td>{{createdAt}}</td>
          {{!-- <td>{{status}}</td> --}}
          <td><div class="form-check">
  <input class="form-check-input" name="checkbox"  type="checkbox" value="{{_id}}" id="flexCheckDefault">
  
</div></td>
                    <td><a href="/delete/{{_id}}" class="btn btn-danger">Delete <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a></td>
          
      </tr>
      
       {{/each}}

    </tbody>
  </table>
  <div class="container2">
  <button type="submit" name="statuser" value="failed" class="btn btn-danger">Change status to Canceld</button>
<button type="submit" name="statuser" value="pending" class="btn btn-warning">Change status to Pending</button>
<button type="submit" name="statuser" value="complited" class="btn btn-success">Change status to Comfirmed</button>
<a href="/">to order</a>
</div>
  </form>

</div>

<script>
  const handlefilter = (event) => {
    const filter = document.querySelector('select').value;
   
  if(filter) {
    window.location.href = `/orders/?filter=${filter}`;
  }
  }
   
  
</script>